{#
PyTorch AvgPool2D Template

Context variables:
- config.kernel_size: Size of pooling window
- config.stride: Stride of pooling
- config.padding: Padding
#}
nn.AvgPool2d(kernel_size={{ config.kernel_size }}, stride={{ config.stride }}, padding={{ config.padding }})
