{# PyTorch Conv2D Layer Template #}
nn.Conv2d({{ in_channels }}, {{ config.out_channels }}, kernel_size={{ config.kernel_size }}, stride={{ config.stride }}, padding={{ config.padding }}, dilation={{ config.dilation }})
