{#
PyTorch Conv1D Template

Context variables:
- config.out_channels: Number of output channels
- config.kernel_size: Kernel size
- config.stride: Stride
- config.padding: Padding
- config.dilation: Dilation
- in_features: Input channels (from context)
#}
nn.Conv1d({{ in_features }}, {{ config.out_channels }}, kernel_size={{ config.kernel_size }}, stride={{ config.stride }}, padding={{ config.padding }}, dilation={{ config.dilation }})
