{#
PyTorch Custom Layer Template

Context variables:
- config.name: Layer name
- config.code: Custom code
- config.description: Description
#}
# Custom Layer: {{ config.name }}
# {{ config.description }}
{{ config.code }}
