{#
PyTorch Embedding Template

Context variables:
- config.num_embeddings: Vocabulary size
- config.embedding_dim: Embedding dimension
- config.padding_idx: Padding index (optional)
#}
{% if config.padding_idx is defined and config.padding_idx is not none %}
nn.Embedding(num_embeddings={{ config.num_embeddings }}, embedding_dim={{ config.embedding_dim }}, padding_idx={{ config.padding_idx }})
{%- else %}
nn.Embedding(num_embeddings={{ config.num_embeddings }}, embedding_dim={{ config.embedding_dim }})
{%- endif %}
