[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "django>=5.2.8",
    "django-cors-headers>=4.9.0",
    "django-restframework>=0.0.1",
    "dotenv>=0.9.9",
    "pillow>=12.0.0",
]
