{#
TensorFlow GRU Template

Context variables:
- config.units: Number of units
- config.return_sequences: Return full sequence or last output
- config.dropout: Dropout rate
- config.recurrent_dropout: Recurrent dropout rate
#}
tf.keras.layers.GRU(units={{ config.units }}, return_sequences={{ config.return_sequences|lower }}, dropout={{ config.dropout }}, recurrent_dropout={{ config.recurrent_dropout }})
